# Virtual Environment
venv/

# Django Local Files
db.sqlite3
staticfiles/
media/

# Python Cache
__pycache__/
*.pyc

# Helper Scripts & Artifacts
install.log
get-pip.py
download_and_install.py
unzip_wheels.py
install_django.py
update_template.py
wheels/
